#sidebar-wrapper {
    height: 100%; /* 100% Full-height */
    width: 15%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lightslategrey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#page-content-wrapper {
    padding-left: 20%;
    padding-top: 25px;
    /*width: 65%;*/
}

#code-tabs-wrapper {
    position: fixed;
    /*width: 85%;*/
    top: 0;
    right: 0;
}

.body-content h1 {
    width: 500px;
    /*clear: both;*/
}

.body-content h2 {
    width: 500px;
    clear: both;
}

.body-content h3 {
    width: 500px;
    /*clear: both;*/
}

.body-content h4 {
    width: 500px;
    /*clear: both;*/
}

.body-content h5 {
    width: 500px;
    /*clear: both;*/
}

.body-content h6 {
    width: 500px;
    /*clear: both;*/
}

.body-content p {
    width: 500px;
    /*clear: both;*/
}

.body-content ul {
    width: 500px;
    /*clear: both;*/
}

.body-content table {
    width: 500px;
    /*clear: both;*/
}

.code-tab {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.code-block {
    display: none;
    width: 580px;
    float: right;
    clear: right;
}

.code-block.active {
    display: initial;
}

.side-nav a {
    color: black;
}

.nav-level-2 {
    padding-left: 15px;
}

.nav-level-3 {
    padding-left: 25px;
}