/* Github CSS overrides */
ul, li {
    margin: 0;
}

/* Brodoc CSS */

#sidebar-wrapper {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lightslategrey;
    border-right: 2px solid slategrey;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidebar-wrapper a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

#sidebar-wrapper ul {
    list-style: none;
}

#sidebar-wrapper a.selected {
    font-style: bold;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 5px;
}

#page-content-wrapper {
    margin-left: 20%;
    padding-top: 60px;
    /*width: 65%;*/
}

body {
    /*height: 100%;*/
    background: linear-gradient(90deg, #FFFFFF 65%, dimgrey 35%);
}

.body-content h1, .body-content h2 {
    width: 100%;
    clear: both;
    border-bottom: 3px solid lightslategrey;
    /*border-image: linear-gradient(90deg, dimgrey 65%, #FFFFFF 35%);*/
}

.body-content h3, .body-content h4, .body-content h5, .body-content h6, .body-content p, .body-content aside {
    width: 55%;
    padding-top: 20px;
}

.body-content table {
    table-layout: fixed;
    width: 55%;
}

.body-content table th:nth-child(1), .body-content table th:nth-child(2) {
    width: 25%;
}

.body-content table tr td {
    word-wrap: break-word;
}

.body-content p code {
    text-overflow: ellipsis;
    display: inline-block;
    font-size: smaller;
}

.body-content blockquote p {
    padding-top: 0;
    color: black;
}

.body-content blockquote.code-block {
    background: lightsteelblue;
}

.body-content blockquote.code-block, .body-content .code-block code {
    margin-left: 20px;
}

.code-block {
    display: none;
    width: 40%;
    float: right;
    clear: right;
}

.code-block.active {
    display: initial;
}

#code-tabs-wrapper {
    width: 35%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: dimgrey;
    /*border: 3px solid darkgrey;*/
}

#code-tabs-wrapper .code-tab-list {
    float: right;
    /*background-color: darkgrey;
    border: 3px solid darkgrey;*/
    /*border-radius: 5px;*/
    margin-top: 0;
    padding: 0 10px;
}

#code-tabs-wrapper .code-tab {
    color: black;
    display: inline-block;
    padding: 0 30px;
}

#code-tabs-wrapper .tab-selected {
    font-style: bold;
    background: lightblue;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.side-nav a {
    color: black;
}